<body class="ltr main-body leftmenu">

	

    <!-- Page -->
    <div class="page">

    <!-- Main Header-->
    <div class="main-header side-header sticky">
        <div class="main-container container-fluid">
            <div class="main-header-left">
                <a class="main-header-menu-icon" [routerLink]="['/pages/dashboard'] "  id="mainSidebarToggle"><span></span></a>
                <div class="hor-logo">
                    <a class="main-logo"  [routerLink]="['/pages/dashboard'] " >
                        <img src="./assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="./assets/img/brand/logo-light.png" class="header-brand-img desktop-logo-dark"
                            alt="logo">
                    </a>
                </div>
            </div>
            <div class="main-header-center">
                <div class="responsive-logo">
                     <a  [routerLink]="['/pages/dashboard'] " ><img src="./assets/img/brand/logo.png" class="mobile-logo" alt="logo"></a>
                     <a  [routerLink]="['/pages/dashboard'] " ><img src="./assets/img/brand/logo-light.png" class="mobile-logo-dark"
                            alt="logo"></a>
                </div>
                <div class="input-group">
                    <h5><i>Projets / Biens</i> </h5>
                </div>
            </div>
            <div class="main-header-right">
                <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                </button><!-- Navresponsive closed -->
                <div
                    class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2 ms-auto">
                            <!-- Search -->
                            <div class="dropdown header-search">
                                <p><i>Projets / Biens</i> </p>
                                
                            </div>

                       <app-header></app-header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Header-->

    <!-- Sidemenu -->
   <app-sidebar></app-sidebar>
    <!-- End Sidemenu -->

        <!-- Main Content-->
        <div class="main-content side-content pt-0">

            <div class="main-container container-fluid">
                <div class="inner-body">

                    <!-- Page Header -->
                    <div class="page-header d-flex mt-1">
                        <div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex justify-content-center gap-3 align-items-center">
                                <div class="text-center btn-list">
                                    <a  [routerLink]="['/pages/property']" class="btn ripple btn-primary"><i class="ion-md-arrow-back" aria-hidden="true"></i> Retour liste des biens</a> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <form [formGroup]="propertyAddForm" (ngSubmit)="addProperty()">

                    <div class="row row-sm">
                        <div class="col-lg-12 col-md-12">
                            <div class="card custom-card">
                                <div class="card-body">
                                    <div>
                                        <h5 class=" mb-3">Informations generales du projet</h5>
                                    </div>


                                    <div class="col-sm-12 mg-t-20 mg-sm-t-0">
                                        <div class="form-group">
                                            <label class="">Project </label>
                                        <select name="project" class="form-control" formControlName="project">
                                            <option value="" disabled>Select </option>
                                            <option *ngFor="let type of projectList" [value]="type.id">{{ type.nom }}</option>
                                          </select>
                                          <div *ngIf="propertyAddForm.get('project')?.touched && propertyAddForm.get('project')?.invalid">
                                            <small *ngIf="propertyAddForm.get('project')?.hasError('required')" class="text-danger">Project is required.</small>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mg-t-20 mg-sm-t-0">
                                        <div class="form-group">
                                            <label class="">Nom </label>
                                        <input type="text" class="form-control" formControlName="nom">
                                        <div *ngIf="propertyAddForm.get('nom')?.touched && propertyAddForm.get('nom')?.invalid">
                                            <small *ngIf="propertyAddForm.get('nom')?.hasError('required')" class="text-danger">Nom is required.</small>
                                          </div>
                                        </div>
                                    </div>
                                            <div class="row">
                                                <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Type du bien	 <span class="text-danger">*</span>  </label>
                                                    <select class="form-control form-select" formControlName="type"> 
                                                        <option label="0"></option>
                                                        <option value="TERRAIN">Terrain nu</option>
                                                        <option value="TERRAIN">Terrain nu</option>
                                                       
                                                    </select>
                                                    <div *ngIf="propertyAddForm.get('type')?.touched && propertyAddForm.get('type')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('type')?.hasError('required')" class="text-danger">Type is required.</small>
                                                      </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <label class="">Ville/ Localisation <span class="text-danger">*</span></label>
                                                <input class="form-control" formControlName="ville" required="" type="text">
                                                <div *ngIf="propertyAddForm.get('ville')?.touched && propertyAddForm.get('ville')?.invalid">
                                                    <small *ngIf="propertyAddForm.get('ville')?.hasError('required')" class="text-danger">Ville is required.</small>
                                                  </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Superficie du bien <span class="text-danger">*</span></label>
                                                    <input class="form-control" formControlName="superficie" required="" type="number" value="300">
                                                    <div *ngIf="propertyAddForm.get('superficie')?.touched && propertyAddForm.get('superficie')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('superficie')?.hasError('required')" class="text-danger">Sperficie is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Prix <span class="text-danger">*</span></label>
                                                    <input class="form-control"  formControlName="prix" required="" type="number">
                                                    <div *ngIf="propertyAddForm.get('prix')?.touched && propertyAddForm.get('prix')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('prix')?.hasError('required')" class="text-danger">Prix is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Niveau de viabilisation <span class="text-danger">*</span></label>
                                                    <select name="viabilisationId" class="form-control" formControlName="viabilisationId">
                                                        <option value="" disabled>Select </option>
                                                        <option *ngFor="let type of viabilisations" [value]="type.id">{{ type.nom }}</option>
                                                      </select>
                                                      <div *ngIf="propertyAddForm.get('viabilisationId')?.touched && propertyAddForm.get('viabilisationId')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('viabilisationId')?.hasError('required')" class="text-danger">viabilisation is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Date Mise Disposition <span class="text-danger">*</span></label>
                                                    <input type="date" [min]="today" class="form-control" formControlName="DateMiseDisposition">
                                                    <div *ngIf="propertyAddForm.get('DateMiseDisposition')?.touched && propertyAddForm.get('DateMiseDisposition')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('DateMiseDisposition')?.hasError('required')" class="text-danger">Date Mise Disposition is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Description du projet </label>
                                                <textarea class="form-control" formControlName="description"rows="5"></textarea>
                                                <div *ngIf="propertyAddForm.get('description')?.touched && propertyAddForm.get('description')?.invalid">
                                                    <small *ngIf="propertyAddForm.get('description')?.hasError('required')" class="text-danger">Description is required.</small>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Adresse</label>
                                                <input type="text" class="form-control" formControlName="adresse">
                                                <div *ngIf="propertyAddForm.get('adresse')?.touched && propertyAddForm.get('adresse')?.invalid">
                                                    <small *ngIf="propertyAddForm.get('adresse')?.hasError('required')" class="text-danger">Adresse is required.</small>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Latitude <span class="text-danger">*</span></label>
                                                    <input class="form-control" formControlName="latitude" required="" type="number">
                                                    <div *ngIf="propertyAddForm.get('latitude')?.touched && propertyAddForm.get('latitude')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('latitude')?.hasError('required')" class="text-danger">Latitude is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Longitude <span class="text-danger">*</span></label>
                                                    <input class="form-control" formControlName="longitude" required="" type="number">
                                                    <div *ngIf="propertyAddForm.get('longitude')?.touched && propertyAddForm.get('longitude')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('longitude')?.hasError('required')" class="text-danger">Longitude is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    <label class="">Type de titre <span class="text-danger">*</span></label>
                                                    <select class="form-control form-select" formControlName="statut" >
                                                        <option label="0"></option>
                                                        <option value="DISPONIBLE">DISPONIBLE</option>
                                                        <option value="DISPONIBLE">DISPONIBLE</option>
                                                    </select>
                                                    <div *ngIf="propertyAddForm.get('statut')?.touched && propertyAddForm.get('statut')?.invalid">
                                                        <small *ngIf="propertyAddForm.get('statut')?.hasError('required')" class="text-danger">Statut is required.</small>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                                                <div class="form-group">
                                                    
                                                    <label class="">Image d bien <span class="text-danger">*</span></label>
                                                    <div class="input-group file-browser">
                                                        <input type="text" class="form-control border-end-0 browse-file" placeholder="" readonly="">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Parcourir <input type="file" style="display: none;"(change)="onFileChange($event)" multiple>
                                                            </span>
                                                        </label>
                                                      
                                                    </div>
                                                </div>
                                            </div>



                                            
                                            </div>
                                        
                                    </div>
                            </div>
                            
                            <div class="form-group row  mb-3">
                                <div class="justify-content-end d-flex pb-4">
                                    <button class="btn ripple btn-outline-primary pd-x-30 mg-r-5"><a href="#!"> Annuler</a></button>
                                    <button class="btn ripple btn-primary pd-x-30">Valider</button>
                                </div>
                            </div>
                            </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- End Main Content-->

        <!-- Main Footer-->
      <app-footer></app-footer>
        <!--End Footer-->

       

  
    <!-- Back-to-top -->
  