/* Make sure dropdowns show when active */
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item:hover {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: #406E63;
    padding: 8px 15px;
    font-size: 13px;
    border: 0;
}


.delete-button {
  background-color: #f0f0f0;      /* light grey background */
  color: #e53935;                 /* red delete icon */
  border-radius: 50%;            /* circular button */
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e0e0e0;      /* slightly darker on hover */
}










