<!-- Loading Overlay -->

<body class="ltr main-body leftmenu error-1">
	<div class="page main-signin-wrapper">

		<!-- Row -->
		<div class="row signpages text-center">
			<div class="col-md-12">
				<div class="card">
					<div class="row row-sm">
						<div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
							<div class="mt-5 pt-4 p-2 pos-absolute">
								<img src="./assets/img/brand/logo-light.png"
									class="d-lg-none header-brand-img text-start float-start mb-4 error-logo-light"
									alt="logo">
								<img src="./assets/img/brand/logo-light.png"
									class=" d-lg-none header-brand-img text-start float-start mb-4 error-logo"
									alt="logo">
								<div class="clearfix"></div>
								<img src="./assets/img/brand/logo-light.png" class=" mb-0" alt="user" style="width:70%">
								<h5 class="mt-4 text-white">Sign in to your account</h5>
								<span class="tx-white-6 tx-13 mb-5 mt-xl-0">Se connecter si l'utilisateur a deja un
									compte

								</span>
							</div>
						</div>
						<div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
							<div class="main-container container-fluid">
								<div class="row row-sm">
									<div class="card-body mt-2 mb-2">
										<img src="./assets/img/brand/logo-light.png"
											class=" d-lg-none header-brand-img text-start float-start mb-4" alt="logo">
										<div class="clearfix"></div>
										<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
											<h5 class="text-start mb-2">Signin to Your Account</h5>
											<p class="mb-4 text-muted tx-13 ms-0 text-start">Se connecter si
												l'utilisateur a deja un compte </p>
											<div class="form-group text-start">
												<label>Email</label>
												<input class="form-control" formControlName="email"
													placeholder="Enter your Email" type="text">
												<mat-error class="danger"
													*ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
													Email Field Is Required.
												</mat-error>
												<mat-error class="danger"
													*ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
													Invalid Email Format.
												</mat-error>
											</div>
											<div class="form-group text-start">
												<label>Password</label>
												<input class="form-control" formControlName="password"
													placeholder="Enter your password" type="password">
												<mat-error class="danger"
													*ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
													Password Field Is Required.
												</mat-error>
											</div>
											<a class="btn ripple btn-main-primary btn-block text-white"
												(click)="onSubmit()" [class.disabled]="isSubmited"
												[style.pointer-events]="isSubmited ? 'none' : 'auto'">Sign In</a>
										</form>
										<div class="text-start mt-3 ms-0">
											<div class="mb-1">
												<div style="color: var(--primary-bg-color) ;text-decoration: none; " [routerLink]="'/forgot-password'" routerLinkActive="active">Forgot
													password?</div>
											</div>
											<div style="display:flex ;gap: 8px;">Don't have an account?
												<div style="color: var(--primary-bg-color) ;text-decoration: none; "
													[routerLink]="'/register'" routerLinkActive="active">Register Here
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->
		</div>