     <div class="page-title" style="background-image: url(assets/images/career-inner.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center text-white">Career</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link  text-white" href="index.html">Home</a>
                            </li>
                          
                            <li class=" text-white">
                                <i class="icon-arrRight"></i>
                            </li>
                            <li class="text-white">
                               Career
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <section class="flat-spacing career-section">
            <div class="container">
                <div class="col-lg-12">
                  <h6 class="text-center mb-5">We are on the lookout for passionate individuals who want to make a difference.<br> At Vyna Electric, you will work on innovative electrical solutions that power homes and improve lives.  
</h6> 
</div>
               <div class="row">
                <div class="col-lg-4">
                   <h6>Current Openings</h6> 
                      <ul class="col-12" id="job-list">
        <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
       <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
         <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
         <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
         <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
         <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
         <li class="job-card new featured">
          <div class="job-card__info">
            <div class="d-md-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                </div><a href="javascript:void(0)">
                  <h6>Store Manager</h6></a>
                <ul>
                  <li>1d ago</li>
                  <li>Full Time</li>
                  <li>Noida Only</li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
     
      </ul>
                </div>
                <div class="col-lg-8">
                    <h6>Share your profile with us and we’ll reach out when the right opportunity comes along. 
</h6> 
             <div class="apply-box">
        
<!-- form starts -->
        <form action="#">
          <div class="form_container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form_control">
                <label for="first"> Name</label>
                <input type="text" name="first" id="first" placeholder="Enter Name" required>
              </div>
                </div>
                 <div class="col-lg-6">
                    <div class="form_control">
                <label for="last">Phone Number</label>
                <input type="text" name="last" id="last" placeholder="Enter phone number" required>
              </div>
                </div>
                 <div class="col-lg-6">
                   <div class="form_control">
                  <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter email id" required>
              </div>
                </div>
                 <div class="col-lg-6">
                    <div class="form_control">
                <label for="job_role">Job Role</label>
              <select name="job_role" id="job_role" class="form-control">
                  <option value="null">Choose Job Role</option>
                  <option value="frontend">FrontEnd</option>
                  <option value="backend">BackEnd</option>
                  <option value="ui">UI-Development</option>
                  <option value="mobile">Mobile App Development</option>
              </select>
            </div>
                </div>
                <div class="col-lg-6">
  <div class="form_control">
                <label for="date">Date</label>
              <input type="date" name="date" id="date" value="2023-07-21" required>
            </div>
                </div>
                <div class="col-lg-6">
  <div class="form_control">
              <label for="cv">Upload CV</label>
              <input type="file" name="cv" id="cv" class="form-control" required>
            </div>
                </div>
            </div>
             
             
             
            
            <div class="textarea_control">
                <label for="address">Address</label>
              <textarea name="address" id="address" cols="50" rows="4" required></textarea>
            </div>
           
          
           
          </div>
          <div class="button_container">
            <button type="submit" class="btn tf-btn-new">Apply Now</button>
          </div>
        </form>
<!-- form end -->
      </div>
      </div>
               </div>
            </div>
        </section>