<body class="ltr main-body leftmenu error-1">


    <!-- Page -->
    <div class="page"
        style="background-image: url('assets/images/new-image.png'); background-size: cover; display:flex; background-repeat: no-repeat; background-position: right;">

        <!-- Row -->
        <div class="row signin-new new" style="text-align: left;">
            <div class="col-md-8">
                <div class="card">
                    <div class="row row-sm">
                        <div>

                        </div>
                        <div>
                            <div class="main-container container-fluid">
                                <div class="row row-sm">
                                    <div class="card-body mt-2 mb-2">

                                        <div class="clearfix"></div>
                                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                            <h5 class="text-start mb-2">Reset Your Password</h5>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group text-start">
                                                        <label>Email</label>
                                                        <input class="form-control" placeholder="Enter your email"
                                                            formControlName="email" type="email">
                                                        <mat-error class="danger"
                                                            *ngIf="changePasswordForm.get('email')?.hasError('required') && changePasswordForm.get('email')?.touched">
                                                            Email is required.
                                                        </mat-error>
                                                        <mat-error class="danger"
                                                            *ngIf="changePasswordForm.get('email')?.hasError('email') && changePasswordForm.get('email')?.touched">
                                                            Invalid email format.
                                                        </mat-error>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group text-start">
                                                        <label>New Password</label>
                                                        <input class="form-control pe-5" formControlName="password"
                                                            [type]="fieldTextTypeone ? 'text' : 'password'"
                                                            placeholder="Enter your password" />
                                                        <i class="fa"
                                                            [ngClass]="fieldTextTypeone ? 'fa-eye' : 'fa-eye-slash'"
                                                            (click)="toggleFieldTextTypeone()"
                                                            style="position: absolute; top: 38px; right: 19px; cursor: pointer;"></i>
                                                        <mat-error class="danger"
                                                            *ngIf="changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched">
                                                            Password is required.
                                                        </mat-error>
                                                        <mat-error class="danger"
                                                            *ngIf="changePasswordForm.get('password')?.hasError('strongPassword') && changePasswordForm.get('password')?.touched">
                                                            Password must be 8–16 characters long, and contain at least
                                                            one uppercase letter, one lowercase letter, one number, and
                                                            one special character.
                                                        </mat-error>


                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group text-start">
                                                        <label>Confirm Password</label>
                                                        <input class="form-control pe-5" formControlName="confirmation"
                                                            [type]="fieldTextTypeone1 ? 'text' : 'password'"
                                                            placeholder="Enter your confirm password" />

                                                        <i class="fa"
                                                            [ngClass]="fieldTextTypeone1 ? 'fa-eye' : 'fa-eye-slash'"
                                                            (click)="toggleFieldTextTypeone1()"
                                                            style="position: absolute; top: 38px; right: 19px; cursor: pointer;"></i>
                                                        <mat-error class="danger"
                                                            *ngIf="changePasswordForm.get('confirmation')?.hasError('required') && changePasswordForm.get('confirmation')?.touched">
                                                            Confirm password is required.
                                                        </mat-error>
                                                        <mat-error class="danger">
                                                            <mat-error
                                                                *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmation')?.touched">
                                                                Password and Confirm Password fields must match
                                                            </mat-error>
                                                        </mat-error>

                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn ripple btn-main-primary btn-block">Reset
                                                Password</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->

    </div>
    <!-- End Page -->