<body class="ltr main-body leftmenu">
    <!-- Page -->
    <div class="page">
        <!-- Main Header -->
        <div class="main-header side-header sticky">
            <div class="main-container container-fluid">
                <div class="main-header-left">
                    <a class="main-header-menu-icon" href="javascript:void(0)" id="mainSidebarToggle"><span></span></a>
                   
                </div>
                <div class="main-header-center">
                    <div class="responsive-logo">
                        <!-- <a [routerLink]="['/pages/dashboard']">
                            <img src="./assets/img/brand/logo.png" class="mobile-logo" alt="logo" />
                        </a>
                        <a [routerLink]="['/pages/dashboard']">
                            <img src="./assets/img/brand/logo-light.png" class="mobile-logo-dark" alt="logo" />
                        </a> -->
                    </div>
                    <div class="input-group">
                        <h3>Admin Profile</h3>
                    </div>
                </div>
                <div class="main-header-right">
                    <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                    </button>
                    <div class="navbar navbar-expand-lg nav nav-item navbar-nav-right responsive-navbar navbar-dark">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <div class="d-flex order-lg-2 ms-auto">

                                <app-header></app-header>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Header -->

        <!-- Sidemenu -->
        <app-sidebar></app-sidebar>
        <!-- End Sidemenu -->

        <!-- Main Content -->
        <div class="main-content side-content pt-0">
            <div class="main-container container-fluid">
                <div class="inner-body">
                    <!-- Page Header -->
                    <div class="page-header d-flex align-items-center justify-content-between mt-3 mb-4">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <button class="back-button" [routerLink]="['/pages/dashboard']">
                                <i class="fe fe-arrow-left me-1"></i> Back
                            </button>
                        </div>
                    </div>

                    <!-- Form -->
                    <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card custom-card shadow-sm">
                                    <div class="card-body">
                                        <div class="row">

                                                 <div class="col-md-12 mb-3">
                                                    <label class="form-label">Profile Image</label>
                                                    <input type="file" (change)="onLogoChange($event)"
                                                        class="form-control" accept="image/*" />
                                                    <div *ngIf="selectedLogoPreview" class="mt-2">
                                                        <img [src]="selectedLogoPreview" alt="Logo Preview" width="150"
                                                            class="img-thumbnail rounded shadow-sm" />
                                                    </div>
                                                    <div *ngIf="showImageLogo" class="text-danger mt-1">Please upload a
                                                        profile image</div>
                                                </div>

                                            <div class="col-md-12 mb-3">
                                                <label class="form-label">Name</label>
                                                <textarea type="text" class="form-control"
                                                    formControlName="name"></textarea>
                                                <div *ngIf="userAddForm.get('name')?.touched && userAddForm.get('name')?.invalid"
                                                    class="text-danger mt-1">
                                                    Name is required.
                                                </div>
                                            </div>
                                              <div class="col-md-12 mb-3">
                                                <label class="form-label">Mobile Number</label>
                                                <input type="number" class="form-control"
                                                    formControlName="mobile_number" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                                <div *ngIf="userAddForm.get('mobile_number')?.touched && userAddForm.get('mobile_number')?.invalid"
                                                    class="text-danger mt-1">
                                                    Mobile number is required.
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label">Email</label>
                                                <textarea type="email" [readOnly]="true" class="form-control"
                                                    formControlName="email"></textarea>
                                                <div *ngIf="userAddForm.get('email')?.touched && userAddForm.get('email')?.invalid"
                                                    class="text-danger mt-1">
                                                    Email is required.
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="submit" class="btn btn-outline-primary" [disabled]=" formSubmitted">
                                                <i class="fe fe-save me-1"></i> {{ isEdit ? 'Update' : 'Update' }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
        <!-- End Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</body>