<!-- <section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-md-12  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Page not found
                        </h3>
                        <p>The page you are looking for not avaible!</p>
                        <a href="" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->













<div class="error-container">
    <div class="error-content">
      <h1 class="error-code">404</h1>
      <p class="error-message">Oops! The page you are looking for doesn't exist.</p>
      <a href="/" class="back-home-btn">Go Back to Home</a>
    </div>
  </div>
  