<div class="page" style="background-image: url('assets/images/new-image.png'); background-size: cover; display:flex; background-repeat: no-repeat; background-position: right;">

    <!-- Row -->
    <div class="row signin-new new" style="text-align: left;">
        <div class="col-md-8">
            <div class="card" style="height:260px !important">
                <div class="row row-sm">
                    <div>
                        <div class="main-container container-fluid">
                            <div class="row row-sm">
                                <div class="card-body mt-2 mb-2">
                                   
                                    <div class="clearfix"></div>
                                    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                                        <h5 class="text-start mb-2">Forgot Password</h5>
                                        <p class="mb-4 text-muted tx-13 ms-0 text-start"></p>
                                        <div class="form-group text-start">
                                            <label>Email</label>
                                            <input class="form-control" placeholder="Enter your email"
                                                formControlName="email" type="text">
                                            <mat-error class="danger"
                                                *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched">
                                                Email is required.
                                            </mat-error>
                                            <mat-error class="danger"
                                                *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched">
                                                Invalid Email Format.
                                            </mat-error>
                                        </div>

                                        <button type="submit" routerLinkActive="active"
                                            class="btn ripple btn-main-primary btn-block">Submit</button>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>