<body class="ltr main-body leftmenu error-1">



    <!-- Page -->
    <div class="page main-signin-wrapper">

        <!-- Row -->
        <div class="row signpages text-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="row row-sm">
                        <div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
                            <div class="mt-4 pt-4 p-2 pos-absolute">
                                <img src="./assets/img/brand/logo-light.png"
                                    class="d-lg-none header-brand-img text-start float-start mb-4 error-logo-light"
                                    alt="logo">
                                <img src="./otp.component.css"
                                    class=" d-lg-none header-brand-img text-start float-start mb-4 error-logo"
                                    alt="logo">
                                <div class="clearfix"></div>
                                <img src="./assets/img/brand/logo-light.png" class=" mb-0" alt="user">
                                <h5 class="mt-4 text-white">L'activation de votre compte vous permet de se connecter a
                                    la plateforme</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
                            <div class="main-container container-fluid">
                                <div class="row row-sm">
                                    <div class="card-body mt-2 mb-2">
                                        <img src="./assets/img/brand/logo-light.png"
                                            class=" d-lg-none header-brand-img text-start float-start mb-4" alt="logo">
                                        <div class="clearfix"></div>



                                        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                                            <h5 class="text-start mb-2"> Veuillez sasir votre code d'activation</h5>
                                            <div action="#" class="otp-field">

                                                <input class="" type="otp" required="true" formControlName="otp1"
                                                    maxlength="1" data-index="0">
                                                <input class="" type="otp" required="true" formControlName="otp2"
                                                    maxlength="1" data-index="1">
                                                <input class="" type="otp" required="true" formControlName="otp3"
                                                    maxlength="1" data-index="2">
                                                <input class="" type="otp" required="true" formControlName="otp4"
                                                    maxlength="1" data-index="3">
                                                <input class="" type="otp" required="true" formControlName="otp5"
                                                    maxlength="1" data-index="4">
                                                <input class="" type="otp" required="true" formControlName="otp6"
                                                    maxlength="1" data-index="5">
                                                <input class="otp-value" type="hidden" name="opt-value" data-index="5">
                                            </div>
                                            <!-- <div class="timeleft">Time left : 00:59</div> -->
                                            <div class="reg-button">
                                                <button type="submit" routerLinkActive="active"
                                                    class="btn ripple btn-main-primary btn-block"> <i
                                                        class="fe fe-arrow-left-circle"></i> Valider</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->

    </div>
    <!-- End Page -->