.main-container.cantainer{
    padding-top: 15px;
    padding-left: 15px;

}

.back-button {
  background-color: #e0e0e0; /* light grey */
  color: #333;               /* dark text */
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #d5d5d5; /* slightly darker on hover */
}
